


/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map {
  height: 50%;
}
body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height:100%; height:auto;
}
.transparent{
  background-color: transparent !important;
}
.menu-demo-container{
  min-height: inherit ;
  color:white;
  height: 100vh;
}
.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }
.divider{
  margin: 50px 100px 50px 100px;
}
